i {
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
}

section {
  padding: 40px 0px;
}

.intro {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  background-color: black;
}

.intro p{
  font-size: 36px;
  color: white;
}

